{% extends 'base.html' %}
{% load static %}
{% block nav-buttons %}
<button class="btn btn-outline-success ml-auto mr-1"
    type="button" data-toggle="collapse" data-target="#barplot"
    aria-expanded="false" aria-controls="barplot">Case distribution plots</button>
{% endblock %}

{% load crispy_forms_tags %}
{% load thumbnail %}

{% block content %}
<div class="card collapse p-3 mt-5" 
    id="barplot" 
    data-log-id={{ log_id }}
    data-get-barplot-url="{% url 'demo:get_barplot_case' %}">
    <div class="card-body">
        <h5 class="card-title">Case distribution plots</div>
        <div class="row-sm" id="barplot_case_length"></div>
        <div class="row-sm" id="barplot_unique_activity"></div>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-4 col-md-3">
        <div class="sticky-top">
            <h5 class="card-title">Choose case to replay:</h5>
            <hr class="mt-0 mb-4">
            <form enctype="multipart/form-data" method="post">
                {% csrf_token %}
                {{ case_select_form | crispy }}
                <button class="btn btn-primary" type="submit">Update</button>
            </form>
            <h5 class="card-title mt-5">Case events:</h5>
            <table
                id="table-event"
                class="table-borderless table-sm"
                data-toggle="table"
                data-height="250"
                data-url="{% url 'demo:json_event_stream' event_id %}"
                data-row-style='RowStyle'>
                <thead>
                    <tr>
                        <th data-field='index'>Event index</th>
                        <th data-field='activity_label'>Activity</th>
                        <th data-field='current' data-visible="false"></th>
                    </tr>
                </thead>
            </table>
            <button 
                class="btn btn-primary mt-3" 
                id="next_event"
                onclick="replay_next_event()">
                Next event
            </button>
        </div>
    </div>
    <div 
        class="col-8 col-md-9" 
        id="replay_detail" 
        data-event-id="{{ event_id }}"
        data-replay-next-event-url="{% url 'demo:replay_next_event' %}">
        <div 
            class="card mb-3"
            id="retrieve-record"
            data-retrieve-record-url="{% url 'demo:retrieve_record' %}">
            <div class="card-body">
                <h5 class="card-title">1. Retrieve record</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    Retrieve previous state estimation or initial state estimation
                </h6>
                <div class="row justify-content-md-center">
                    <div class="col-4">
                        <img 
                            class="img-fluid" 
                            id="barplot-start-state" 
                            alt="State estimation"/>
                    </div>
                    <div class="col-7">
                        <img 
                            class="img-fluid" 
                            id="net-start-state" 
                            alt="Model highlighted with mode state estimation"/>
                    </div>
                </div>
            </div>
        </div>
        <div 
            class="card mb-3"
            id="state-transition"
            data-state-transition-url="{% url 'demo:state_transition' %}">
            <div class="card-body">
                <h5 class="card-title">2. State transition</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    Previous event transitions previous state estimation
                </h6>
                <div class="row justify-content-md-center">
                    <div class="col-4">
                        <img 
                            class="img-fluid" 
                            id="barplot-transition-state" 
                            alt="State estimation after state transition from previous event"/>
                    </div>
                    <div class="col-7">
                        <img 
                            class="img-fluid" 
                            id="net-transition-state" 
                            alt="Model highlighted with mode state estimation after state transition from previous event"/>
                    </div>
                </div>
            </div>
        </div>
        <div 
            class="card mb-3"
            id="observation-update"
            data-observation-update-url="{% url 'demo:observation_update' %}">
            <div class="card-body">
                <h5 class="card-title">3. Observation update</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    Use current event to update state estimation
                </h6>
                <div class="row justify-content-md-center">
                    <div class="col-4">
                        <img 
                            class="img-fluid" 
                            id="barplot-observation-state" 
                            alt="State estimation after update with current event"/>
                    </div>
                    <div class="col-7">
                        <img 
                            class="img-fluid" 
                            id="net-observation-state" 
                            alt="Model highlighted with mode state estimation after update with current event"/>
                    </div>
                </div>
            </div>
        </div>
        <div 
            class="card mb-3"
            id="compute-conformance"
            data-compute-conformance-url="{% url 'demo:compute_conformance' %}">
            <div class="card-body">
                <h5 class="card-title">4. Conformance computation</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    Compute conformance between state estimation and current event
                </h6>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
    <script type='text/javascript' src="{% static 'js/get_case_plots.js' %}"></script>
    <script>
        function RowStyle(row, index) {
            if (row.current) {
                return {
                    css: {
                        'background-color': '#99ff33',
                    }
                };
            }
            else {
                return {};
            }
        }
    </script>
    <!--Script to replay next event-->
    <script>
        function retrieve_record(event_id) {
            var url = $("div #retrieve-record").attr('data-retrieve-record-url');

            info_msg = 'Retrieving record for event: ' + event_id + ', url: ' + url;
            console.log(info_msg);

            $.ajax({
                url: url,
                data: {
                    'csrfmiddlewaretoken': Cookies.get('csrftoken'),
                    'event_id': event_id,
                },
                dataType: 'json',
                success: function(data) {
                    info_msg = 'Retrieved record for event id: ' + data.event_id;
                    console.log(info_msg);

                    // Update figures
                    $("#barplot-start-state").attr('src', data.barplot_state_url);
                    $("#net-start-state").attr('src', data.net_state_url);
                }
            });
        }

        function state_transition(event_id) {
            var url = $("div #state-transition").attr('data-state-transition-url');

            info_msg = 'Getting images of state transition for event: ' + event_id + ', url: ' + url;
            console.log(info_msg);

            $.ajax({
                url: url,
                data: {
                    'csrfmiddlewaretoken': Cookies.get('csrftoken'),
                    'event_id': event_id,
                },
                dataType: 'json',
                success: function(data) {
                    info_msg = 'Got images of state transition for event: ' + data.event_id;
                    console.log(info_msg);

                    // update figures
                    $("#barplot-transition-state").attr('src', data.barplot_state_url);
                    $("#net-transition-state").attr('src', data.net_state_url);
                }
            });
        }
    
        function observation_update(event_id) {
            var url = $("div #observation-update").attr('data-observation-update-url');

            info_msg = 'Getting images of observation update for event: ' + event_id + ', url: ' + url;
            console.log(info_msg);

            $.ajax({
                url: url,
                data: {
                    'csrfmiddlewaretoken': Cookies.get('csrftoken'),
                    'event_id': event_id,
                },
                dataType: 'json',
                success: function(data) {
                    info_msg = 'Got images of observation update for event: ' + data.event_id;
                    console.log(info_msg);

                    // update figures
                    $("#barplot-observation-state").attr('src', data.barplot_state_url);
                    $("#net-observation-state").attr('src', data.net_state_url);
                }
            });
        }

        $(document).ready(function() {
            var event_id = $("div #replay_detail").attr('data-event-id');
            retrieve_record(event_id);
            state_transition(event_id);
            observation_update(event_id);
        });

        function replay_next_event() {
            var event_id = $("div #replay_detail").attr('data-event-id');
            var url = $("div #replay_detail").attr('data-replay-next-event-url');

            info_msg = 'Calling url: ' + url + ' to replay next event after event: ' + event_id;
            console.log(info_msg);

            $.ajax({
                url: url,
                data: {
                    'csrfmiddlewaretoken': Cookies.get('csrftoken'),
                    'event_id': event_id,
                },
                dataType: 'json',
                success: function(data) {
                    info_msg = 'Got next event id: ' + data.event_id;
                    console.log(info_msg);

                    // update replay_detail
                    var replay_detail = $("#replay_detail");
                    replay_detail.attr("data-event-id", data.event_id);

                    // update case event table
                    $('#table-event').bootstrapTable('load', data.case_events);

                    // update replay detail children here
                    retrieve_record(data.event_id);
                    state_transition(data.event_id);
                    observation_update(data.event_id);
                }
            });
        }
    </script>
{% endblock %}
